* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    font-size: 1rem;
    line-height: 1.5rem;
}

ul {
    list-style: none;
}

/** Header **/

.img-logo {
    position: relative;
    height: 90px;
    border-top: 1px solid rgb(78, 77, 77);
}
img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 17%;
    height: auto;
    padding-top: 5rem;
}

/** Navigation **/

.navbar li {
    display: inline;
}
.nav {
    font-size: 0.65rem;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 60px;
}
.nav a {
    padding-right: 20px;
    text-decoration: none;
    color:black;
}
.nav a:hover {
    color: white;
    background-color: rgba(10, 82, 34, 0.911);
    border-radius: 0.2rem;
    padding: 8px;
}

/** Section **/

.main-container {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-top: 2px solid rgb(78, 77, 77);
    border-bottom: 2px solid rgb(78, 77, 77);;
    padding: 75px 150px 150px 150px;
}

.main-container h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    align-content: center;
    margin-right: 15px;
}

/** Footer **/

.copyright {
    font-size: 0.65rem;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-bottom: 1px solid rgb(78, 77, 77);
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .img-logo {
    width: 100%;
    height: auto;
    }

    .main-container h2 {
        min-width: auto;
    } 
}

@media only screen and (max-width: 576px) {
    .main-container {
        background-size: cover;
        max-height: 100%;
        box-sizing: border-box;
    }
}



